<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
      <link rel="stylesheet" href="main.css">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">
              <i class="fas fa-home"></i>
              Home
            </a>
          </li>
          <li>
            <a href="/author">
              <i class="fas fa-user"></i>
              Authors
            </a>
          </li>
          <li>
            <a href="/title">
              <i class="fas fa-book"></i>
              Titles
            </a>
          </li>
          <li>
            <a href="/category">
              <i class="fas fa-object-group"></i>Categories
            </a>
          </li>
          <li>
            <a href="/add">
              <i class="fas fa-plus"></i>
              Add an Item
            </a>
          </li>
          <li>
            <a href="/search">
              <i class="fas fa-search"></i>
              Search
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Ashley's HMHCO Book WebApp</h1>
    <ul class="book-list">
      <li>Adult Education</li>
      <li>Assessment</li>
      <li>Early Learning</li>
      <li>General Interest</li>
      <li>Homeschool</li>
      <li>Intervention</li>
      <li>Leveled Reading</li>
      <li>Literacy</li>
      <li>Math</li>
      <li>Professional Services</li>
      <li>Science</li>
      <li>Social Studies</li>
      <li>World Languages</li>
    </ul>
    <script src="main.js"></script>
  </body>
</html>
